@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
    --font-serif: 'Montserrat', ui-serif, serif;
    --color-primary: #A89070;
    --color-primary-dark: #8B6E54;
}